<div *ngIf="loading$ | async; else loaded" class="center">
  <div style="display: flex; flex-direction: column">
    <span style="font-size: x-large; font-weight: 600; margin-bottom: 15px"> cargado... </span>
    <div class="center">
      <app-spinner [width]="60"></app-spinner>
    </div>
  </div>
</div>

<ng-template #loaded>
  <div *ngIf="(users$ | async)!.length > 0; else noUsers" class="list-box">
    <div class="list">
      <div *ngFor="let user of users$ | async; let i = index" class="item">
        <app-show-user [user]="user" [index]="i" (editUser)="editUser.emit($event)"></app-show-user>
      </div>
    </div>
    <app-paginator></app-paginator>
  </div>
  <ng-template #noUsers>
    <div class="list-box no-user">No se encontraron usuarios.</div>
  </ng-template>
</ng-template>
