<form [formGroup]="userForm" (submit)="editUser ? editar() : agregar()">
  <div class="row">
    <app-input name="nombre" label="Nombre" placeholder="Ej: Pepe" [control]="inputControl('nombre')"></app-input>
    <app-input name="apellido" label="Apellido" placeholder="Ej: Perez" [control]="inputControl('apellido')"></app-input>
    <app-input name="email" label="Email" placeholder="Ej: ejemplo@gmail.com" [control]="inputControl('email')"></app-input>
    <app-select name="rol" label="User Rol" [control]="inputControl('rol')" [options]="roles"></app-select>
  </div>
  <br />
  <button type="submit">Guardar</button>
  {{ loading$ | async }}
  {{ message }}
  <div *ngIf="message" [class]="(error$ | async) ? 'errorMessage' : 'successMessage'">{{ message }}</div>
  <div *ngIf="error$ | async as error">
    <p class="errorMessage">{{ error }}</p>
  </div>
  <div *ngIf="success$ | async">
    <p class="successMessage">Usuario agregado/actualizado con éxito</p>
  </div>
  <div *ngIf="loading$ | async">cargando...</div>
</form>
